.classes-container{
    left:250px;
    margin: 95px auto;
}

.add-class-button{
    display:inline-block;
    float:right;
    width:75px;
    height:75px;
    line-height:75px;
    color: #FFF;
    text-align:center;
    font-size:54px;
    background:#776990;
    border-radius:100%;
}

.add-class-button:hover{
    background:#554b67;
}
