.add-class-button{
    display:inline-block;
    float:right;
    width:75px;
    height:75px;
    line-height:75px;
    color: #FFF;
    text-align:center;
    font-size:54px;
    background:#776990;
    border-radius:100%;
}

.add-class-button:hover{
    background:#554b67;
}

.create-class-pane{
    margin: 50px auto;
    outline:none;
    border: 2px solid #776990;
    width:500px;
    height:500px;
}

.close-class-pane{
    float:right;
    border:none;
    outline:none;
    font-family: Helvetica;
    font-size:26px;
    font-weight:200;
    color: #444;
    background:none;
}

.close-class-pane:hover{
    color:#888;
}
