.assignment{
    font-family: Helvetica Neue;
    font-weight: 300;
    letter-spacing: -.5px;
    font-size: 20px;
    color: #fff;
    user-select: none;
    width: 350px;
    border:1px solid #fff;
    border-radius:5px;
    margin: 10px 30px;
    overflow:hidden;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.assignment:hover{
    color: #fff;
    background: #fff;
    cursor: pointer;
}

.extend{
    height: 100px;
}

.default{
    height: 60px;
}

.assignment-text-container{
    padding:15px;
}

.block{
    width:33.33%;
    height:40px;
    padding-left:40px;
    padding-right:65px;
    display:inline-block;
    margin-top:4px;
    cursor:pointer;
}

.complete{
    background-color: green;
}

.delete{
    background-color: red;
}

.edit{
    background-color: yellow;
}

.pencil{
    width:20px;
    height:26px;
    background:url('./edit.png');
    background-size:100% 100%;
}

.bin{
    width:20px;
    height:26px;
    background:url('./bin.png');
    background-size:100% 100%;
}

.checkmark{
    width:29px;
    height:22px;
    background:url('./ok.png');
    background-size:100% 100%;
}

.options{
    display:block;
    width:100%;
}

.hidden{
    visibility:hidden;
}

.shown{
    visibility:visible;
}

.time-label{
    display:inline-block;
    float: right;
    font-size: 16px;
    font-weight:300;
    margin-top:2px;
    letter-spacing:-.5px;
    line-height: 20px;
}
