.assignment{
    user-select: none;
    width: 350px;
    border:1px solid #fff;
    border-radius:5px;
    margin: 10px 30px;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.editing-assignment{
    position:relative;
    z-index:6;
}

.assignment:hover{
    cursor: pointer;
}

.extend{
    height: 100px;
}

.edit-name{
    cursor:text;
    background:none;
    border: none;
    outline: none;
    display:inline-block;
    font-family: Helvetica Neue;
    font-weight: 300;
    letter-spacing: -.5px;
    font-size: 20px;
    color: #fff;
    border-bottom:1px solid #fff;
}
.edit-date{
    cursor:text;
    background:none;
    display:inline-block;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight:300;
    margin-top:2px;
    letter-spacing:-.5px;
    line-height: 20px;
    width: 80px;
    float:right;
    color: #fff;
    border-bottom:1px solid #fff;
}

.default{
    height: 60px;
}

.assignment-text-container{
    font-family: Helvetica Neue;
    font-weight: 300;
    letter-spacing: -.5px;
    font-size: 20px;
    color: #fff;
    padding:15px;
}

.block{
    width:33.33%;
    height:40px;
    padding-left:40px;
    padding-right:65px;
    display:inline-block;
    margin-top:4px;
    cursor:pointer;
    border-top: 1px solid #fff;
}

.edit-block{
    width:50%;
    height:40px;
    display:inline-block;
    margin:4px auto;
    cursor:pointer;
    border-top: 1px solid #fff;
}

.complete{
}

.delete{
}

.edit{
}

.edit-hidden{
    height:0px;
    visibility: hidden;
    display:none;
    width:0px;
}

.pencil{
    width:24px;
    height:24px;
    margin:5px auto;
    background:url('./edit.png');
    background-size:100% 100%;
    opacity:.4;
}
.pencil:hover{
    opacity:.7;
}


.bin{
    width:20px;
    height:26px;
    margin: 5px auto;
    background:url('./bin.png');
    background-size:100% 100%;
    opacity:.4;
}
.bin:hover{
    opacity:.7;
}


.notok{
    width:18px;
    height:18px;
    margin: 9px auto;
    background:url('./notok.png');
    background-size:100% 100%;
    opacity:.4;
}

.notok:hover{
    opacity:.7;
}

.checkmark{
    margin: 6px auto;
    width:29px;
    height:22px;
    background:url('./ok.png');
    background-size:100% 100%;
    opacity:.4;
}
.checkmark:hover{
    opacity:.7;
}


.options{
    display:block;
    width:100%;
}

.hidden{
    visibility:hidden;
}

.shown{
    visibility:visible;
}

.shadow{
    z-index:2;
    background: #000;
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.shadow-open{
    opacity:.3;
}

.shadow-hidden{
    opacity:0;
    visibility: hidden;
}
.time-label{
    display:inline-block;
    float: right;
    font-size: 16px;
    font-weight:300;
    margin-top:2px;
    letter-spacing:-.5px;
    line-height: 20px;
    cursor:pointer;
}

.datetime-container{
    display:inline-block;
    position:absolute;
    right:0px;
    top:60px;
}

.datetime-visible{
    display:inline-block;
    visibility: visible;
}

.datetime-hidden{
    height:0px;
    visibility: hidden;
}
