.homepage-splash{
    display:block;
    background: url('../SignUp/homepage-splash.png');
    background-size:cover;
    background-repeat: no-repeat;
    height:250px;
    margin:0px 0px 50px 0px;
}

.sign-up-form{
    position:relative;
    margin: 15px 10px 0px 10px;
}

.sign-up-form label{
    font-family:Helvetica;
    letter-spacing: -1px;
    font-size: 20px;
    font-weight:200;
}

.sign-up-form input{
    display:block;
    font-size:16px;
    padding:15px;

    margin:10px 0px;

    height:40px;
    width:350px;
    border-radius:4px;
    outline:none;
}

.invalid-field{
    border: 2px solid #ff9b9b;
}
.invalid-field:focus{
    border: 2px solid #ff9b9b;
}

.valid-field{
    border: 1.5px solid #ccc;
}

.input:focus{
    border: 1px #705e8b solid;
}

.sign-up-submit{
    width:300px;
    height:40px;
    font-family: 'Open Sans', Helvetica;
    line-height: 0px;
    outline: none;
    border-radius: 3px;
    background: none;
    color: #705e8b;
    border:1px solid #705e8b;
}

.sign-up-submit:hover{
    background:#705e8b;
    color: #FFF;
}
