.class{
    font-family: Helvetica Neue;
    font-weight: 300;
    letter-spacing: -.5px;
    font-size: 20px;
    color: #fff;

    width: 350px;
    background:#5a749e;
    border-radius:3px;
    padding: 15px;
    margin: 10px 30px;
}

.class:hover{
    color: #fff;
    background: #465b7d;
}

.time-label{
    display:inline-block;
    float: right;
    font-size: 16px;
    font-weight:300;
    letter-spacing:-.5px;
    line-height: 20px;
}
