.class{
    font-family: Helvetica Neue;
    font-weight: 300;
    letter-spacing: -.5px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    width: 350px;
    border-radius:3px;
    padding: 15px;
    margin: 10px 30px;
}

.class:hover{
    color: #fff;
}

.class-X{
    font-family: Helvetica Neue;
    margin-left:15px;
    cursor:pointer;
}

.options-container{
    float:right;
    margin-bottom: 15px;
}
.hidden{
    visibility: hidden;
}

.class-text{
  display: inline-block;
}

.class-color{
    display: inline-block;
    float:right;
    margin-top:20px;
    width:10px;
    height:10px;
}
