
.assignments-list-container{
    display:block;
    width: 100%;
    height:100%;
    outline: black;
}

.add-assignment-button{
    width:200px;
    height:35px;
    line-height: 35px;
    border-radius:4px;
    font-size:16px;
    text-align: center;
}

.add-assignment-button hover{
    background-color:none;
    color: #ccc
}

.date-list-container{
    height:100%;
}

.createAssignment{
    width:100%;
    height:120px;
    padding:30px;
}

.assignments-label{
    color: #fff;
    font-family:Helvetica;
    font-size:26px;
    letter-spacing: -1px;
    display: inline-block;
    font-weight:200;
}

.new-assignment-container{
    float:right;
    z-index:5;
    position:relative;
    width:350px;
    height:70px;
    border:1px solid #ccc;
    border-radius:3px;
    background:#fff;
}

.new-assignment-container-inactive{
    opacity:.4;
}

.new-assignment-container-active{
    opacity:.9;
}

.new-assignment{
    margin:0px 0px;
    width:200px;
    height:40px;
    font-size:16px;
    border:none;
    outline:none;
    padding:5px 15px;
}
.new-assignment:active{
    outline:none;
    border:none;
}

.calendar{
    display:block;
    width:29px;
    height:22px;
    background:url('./calendar.png');
    background-size:100% 100%;
}

.shadow{
    z-index:2;
    background: #000;
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.shadow-open{
    opacity:.3;
}

.shadow-hidden{
    opacity:0;
    visibility: hidden;
}
