.assignments-list-container{
    display:block;
    width: 100%;
    height:100%;
    outline: black;
}

.add-assignment-button{
    width:200px;
    height:35px;
    line-height: 35px;
    border-radius:4px;
    font-size:16px;
    text-align: center;
}

.add-assignment-button hover{
    background-color:none;
    color: #ccc
}

.date-list-container{
    height:100%;
}

.createAssignment{
    width:100%;
    padding:15px;
}

.assignments-label{
    color: #fff;
    font-family:Helvetica;
    font-size:26px;
    letter-spacing: -1px;
    height:100%;
    line-height: 80px;
    display: inline-block;
    font-weight:200;
}
