.header{
    width:100%;
    position: fixed;
    height: 95px;
    padding:20px 0px 0px 0px;
    background: #FFF;
    border-bottom: 1px solid #ccc;
}

.header-title{
    font-family: Helvetica;
    height:75px;
    line-height: 50px;
    display: inline-block;
    float:left;
    margin: 0px 30px 0px 50px;

    font-size:38px;
    color: #705e8b;
    font-weight: 600;
    letter-spacing: -2px;
}

.profile{
    margin: 5px 30px;
    width:50px;
    height:50px;
    border-radius:100%;
    background: #ccc;
}

.search-field{
    display:inline-block;
    margin:5px 50px;
    padding:6px 15px;
    outline:none;
    border:1px solid #ccc;
    border-radius: 5px;
    width:350px;
    height:40px;
    font-size:20px;
    line-height: 49px;
}

.logout-button{
    color: red;
}
