.sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:270px;
    display:inline-block;
    background:#f7f7f7;
    opacity:.9;
    user-select: none;
    border-right: 1px solid #ccc;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    padding: 30px 30px;
}

.sidebar-shown{
    left: 0px;
}

.sidebar-hidden{
    left:-500px;
}

.sidebar-tab{
    padding:20px 8px;
    height:35px;
    line-height:35px;
    font-family:Helvetica;
    font-weight:200;
    font-size:20px;
    color:#777;
}

.sidebar-tab:hover{
    cursor: pointer;
    color:#555;
}

.logo{
    display:inline-block;
    background:url('../Header/planr-logo.png');
    background-size: cover;
    height: 75px;
    width: 75px;
}

.sidebar-tab:active{
    color: #644b84;
}
