.date-list{
    display:block;
    background: #fff;
    width:100%;
    height:100%;
    font-family:Helvetica Neue;
    padding:20px 5px;
}

.assignment-list-container{
    display: inline-block;
    margin: 0px 0px 0px 30px;
}

.day-block{
    display:inline-block;
    height: 100%;
    width:125px;
    vertical-align: top;
    color:#fff;
}

.tooltip{
    float:right;
}

.dayOfWeek-label{
    display:block;
    width:100%;
    text-align: right;
    font-size:20px;
    letter-spacing: -1px;
    font-weight:400;
}

.day-label{
    display:block;
    width:100%;
    text-align: right;
    font-size:40px;
    font-weight:500;
    letter-spacing: -4px;
}


.delete:hover{
    background:red;
}

.red{background: #ff8c8c}
.orange{background: #fdb26b;}
.yellow{background: yellow;}
.green{ background: #80d090;}
.blue{ background: #88a5ec; }
.purple{background: #946da7;}
