.new-class-form input{
    display:block;
    font-size:16px;
    padding:15px;

    margin:20px 0px;

    height:40px;
    width:400px;
    border-radius:0px;
    border:1px solid #ccc;
    outline:none;
}

.new-class-form input:hover{
    border: 1px solid #444;
}

.class-label{
    display:block;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #ccc;
}

.new-class-form label{
    font-family:Helvetica;
    letter-spacing: -2px;
    font-size: 30px;
    font-weight:200;
    color: #705e8b;

}


.class-submit{
    width:300px;
    height:40px;
    font-family: 'Open Sans', Helvetica;
    line-height: 0px;
    outline: none;
    border-radius: 3px;
    background: none;
    color: #705e8b;
    border:1px solid #705e8b;
}

.class-submit:hover{
    background:#705e8b;
    color: #FFF;
}
