.calendar-container{
    position: absolute;
    left:270px;
    height: calc(100% - 95px);
    width: calc(100% - 270px);
    margin: 95px 0px;
}

.calendar{
    -webkit-box-shadow: 0px 0px 86px -22px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 86px -22px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 86px -22px rgba(0,0,0,0.81);
    background: #fff;
    border: 1px solid #ccc;
    border-radius:5px;
    margin: 50px auto;
    padding:50px;
    height:600px;
    min-height:600px;
    max-width: 80%;
}
