.settings-container{
    margin:95px auto 0px auto;
    position:fixed;
    height:100%;
    width: calc(100% - 270px);;
}

.settings{
    margin:0px auto;
    width:700px;
    height:100%;
    background-color: #f2f2f2;

}

.settings-label{
    font-size:24px;
    font-family:Helvetica;
    font-weight:100;
    padding:30px 0px 30px 50px;
}

.settings-form{
    position: relative;
    margin: 0px 10px 0px 10px;
    clear: left;
    font-family: Helvetica;
    font-weight:100;
}

.settings-avatar div {
    float: left;
    clear: none;
    margin-bottom: 10px;
    margin-right: 10px;
}

.settings-form input{
    display:inline-block;
    font-size:16px;
    padding:15px;

    margin:10px 15px;

    height:40px;
    border-radius:4px;
    outline:none;
}

.input{
    width:275px;
    display: inline-block;
}

.item-container{
    padding: 15px;
    border-bottom:1px solid #ccc;
}

.item-label{
    width:150px;
    margin: 0px 15px;
    text-align: right;
    display:inline-block;
}

.color-label{
    vertical-align: top;
    line-height: 65px;
}

.color-container{
    display:inline-block;
    padding:15px;
    border-radius:5px;
}

.invalid-field{
    border: 2px solid #ff9b9b;
    display: inline-block;
}

.invalid-field:focus{
    border: 2px solid #ff9b9b;
    display: inline-block;
}

.valid-field{
    border: 1.5px solid #ccc;
    display: inline-block;
}

.settings-submit{
    float:right;
    width:150px;
    height:40px;
    font-family: 'Open Sans', Helvetica;
    line-height: 0px;
    outline: none;
    border-radius: 3px;
    background: none;
    color: #705e8b;
    border:1px solid #705e8b;
}

.settings-submit:hover{
    background:#705e8b;
    color: #FFF;
}

.success{
    margin:20px 0px 0px 10px;
    display:inline-block;
    float:right;
    background:url('./checkmark.png');
    background-size:100% 100%;
    height: 20px;
    width: 26px;
}

.tooltip{
    width:30;
    height:23;
    display: inline-block;
    font-family: Helvetica;
    font-weight:100;
    user-select: none;
}
